.example-colorflip {
	text-align: center;
}

.example-colorflip-colorbox {
	display: inline-block;
	width: 10vh;
	height: 10vh;
}

.example-colorflip-red {
	background-color: red;
}

.example-colorflip-green {
	background-color: green;
}
